<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="/img/LOGO TALENTO DIGITAL.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styleForm.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Gestión de Eventos</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <a class="nav-link" th:href="@{/eventos}">Panel de Control</a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Iniciar sesión</a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Registrarse</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container text-center mt-5">
        <h1>Bienvenido a la Aplicación de Gestión de Eventos</h1>
        <p>Administra y organiza tus eventos de manera sencilla y eficiente.</p>
    </div>
</body>
</html>
